[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=/bin/sh /home/oathkeeper/.emacs.d/exwm/start-exwm.sh
TryExec=/bin/sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
